body {
  margin: 0;
  /* UPDATED FONT: Set Lato as the base font */
  font-family: 'Lato', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* This is your #36454F charcoal background color */
/* We put it here so it's the absolute base style */
body {
  background: linear-gradient(180deg, #1c4164, #0f1a21 68%, #121212);
  
  /* Fallback for very old browsers */
  background-color: #483D59; 
  
  /* Ensures the gradient covers the full page height */
  min-height: 100vh;
}